<app-page-header [title]="'Notifications'" [activeTitle]="'Accueil'" [title1]="'Notifications'"></app-page-header>

   
   <!-- Start::row-1 -->
   <div class="grid grid-cols-12 gap-6 !mx-auto">
    <div class="xxl:col-span-2 col-span-12"></div>
    <div class="xxl:col-span-8 xl:col-span-12 lg:col-span-12 md:col-span-12 sm:col-span-12 col-span-12">
        <ul class="list-none mb-0 notification-container">
            <li>
                <div class="box un-read">
                    <div class="box-body !p-4">
                        <a href="javascript:void(0);">
                            <div class="flex items-start mt-0 flex-wrap">
                                <div class="leading-top">
                                    <span class="avatar avatar-md online me-4 avatar-rounded">
                                        <img alt="avatar" src="./assets/images/faces/4.jpg">
                                    </span>
                                </div>
                                <div class="flex-grow">
                                    <div class="sm:flex items-center">
                                        <div class="sm:mt-0 mt-2">
                                            <p class="mb-0 text-[.875rem] font-semibold">Scan SCA</p>
                                            <p class="mb-0 text-[#8c9097] dark:text-white/50">Le Scan SCA s'est terminé avec succès</p>
                                            <span class="mb-0 block text-[#8c9097] dark:text-white/50 text-[0.75rem]">12 mins ago</span>
                                        </div>
                                        <div class="ms-auto">
                                            <span class="ltr:float-right rtl:float-left badge bg-light text-[#8c9097] dark:text-white/50 whitespace-nowrap">
                                                24,Avril 2024
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </li>
         
        </ul>
       <!--<div class="!text-center mb-4">
        <button type="button" class="ti-btn ti-btn-info ti-btn-loader">Loading
            <span class="ti-spinner !h-4 !w-4" role="status"></span>
        </button>
        </div>-->
    </div>
    <div class="xxl:col-span-2 col-span-12"></div>
</div>
<!--End::row-1 -->