<app-page-header [title]="'Organization details'" [activeTitle]="'Home'" [title1]="'Settings'"></app-page-header>
<div class="container">
    <!-- Start::row-1 -->
    <div class="grid grid-cols-12 gap-6 mb-[3rem]">

        <div class="xl:col-span-12 col-span-12">
            
            <div class="box">
                <div class="row" style="margin-left: 20px; margin-top:20px">
                    <p>
                       <strong> {{organization.infos.name}}</strong> - <span class="badge bg-outline-primary">{{organization.infos.realm}}</span> 
                    </p>
                  
                </div>
                <div class="box-header sm:flex block !justify-start">
                   
                    <nav aria-label="Tabs" class="md:flex block !justify-start whitespace-nowrap">
                        <a class="m-1 block w-full hs-tab-active:bg-primary/10 hs-tab-active:text-primary cursor-pointer text-defaulttextcolor dark:text-defaulttextcolor/70 py-2 px-3 flex-grow  text-[0.75rem] font-medium rounded-md hover:text-primary active" id="Personal-item" data-hs-tab="#organization-licence" aria-controls="#organization-licence">
                           Licences
                        </a>
                        <a class="m-1 block w-full hs-tab-active:bg-primary/10 hs-tab-active:text-primary cursor-pointer text-defaulttextcolor dark:text-defaulttextcolor/70 py-2 px-3 text-[0.75rem] flex-grow font-medium rounded-md hover:text-primary " id="account-item" data-hs-tab="#organization-users" aria-controls="organization-users">
                           Utilisateurs
                        </a>
                    </nav>
                </div>
                <div class="box-body">
                    <div class="tab-content">
                        <div class="tab-pane show active dark:border-white/10" id="organization-licence" aria-labelledby="licence-item" >
                            <!-- Start:: row-1 -->
                <div class="grid grid-cols-12 gap-6">
                    <div class="xl:col-span-12 col-span-12">
                        <div class="box custom-box">
                            <div class="box-header justify-between">
                                <div class="box-title">
                                    Organization's licence
                                </div>
                                <div class="prism-toggle">
                                    <button [routerLink]="['../../licences/add',organizationId ]" type="button" class="ti-btn !py-1 !px-2 ti-btn-primary !font-medium !text-[0.75rem]">Add licence

                                        <i class=" ms-2 inline-block align-middle"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                @if(organization.licences.length <=0) {
                                    <div class="empty-list-container"  >
                                        <img src="assets/images/diploma.png" alt="Empty List Image" class="empty-list-image" width="100px">
                                        <p class="empty-list-message">Liste des licences est vide</p>
                                      </div>
                                    }
                                @if(organization.licences.length >0) {
                                <div class="table-responsive" >
                                    <table class="table whitespace-nowrap min-w-full">
                                        <thead>
                                            <tr class="border-b border-defaultborder">
                                                <th scope="col" class="text-start">Key</th>
                                                <th scope="col" class="text-start">Applications</th>
                                                <th scope="col" class="text-start">Creation date</th>
                                                <th scope="col" class="text-start">Expiration date</th>
                                                
                                                <!-- <th scope="col" class="text-start">Status</th> -->
                                                <th scope="col" class="text-start">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="border-b border-defaultborder" *ngFor="let l of organization.licences">
                                                <th scope="row" class="text-start">{{l.key}}</th>
                                                <td>{{l.authorizedApplicationIds | json }}</td>
                                                <td>{{l.creationDate}}</td>
                                                <td>{{l.expirationDate}}</td>
                                                <!-- <td><span class="badge bg-outline-primary">Valid</span></td> -->
                                                <td>
                                                    <span class="badge bg-outline-info" (click)="renewLicence(l.id)" style="margin-right: 5px;">Renew</span>
                                                    <span class="badge bg-outline-danger" (click)="deleteLicence(l.id)">Delete</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                }
                            </div>
                            
                         
                        </div>
                    </div>
               
                </div>
                <!-- End:: row-1 -->
                        </div>
                        <div class="tab-pane dark:border-defaultborder/10 hidden" id="organization-users" aria-labelledby="users-item" role="tabpanel">
                            <div class="xl:col-span-12 col-span-12">
                                <div class="box custom-box">
                                    <div class="box-header justify-between">
                                        <div class="box-title">
                                            Organization's users
                                        </div>
                                       
                                    </div>
                                    <div class="box-body">
                                        @if(organization.users.length <=0) {
                                            <div class="empty-list-container"  >
                                                <img src="assets/images/group.png" alt="Empty List Image" class="empty-list-image" width="100px">
                                                <p class="empty-list-message">Liste des utilisateurs de cette organization est vide</p>
                                              </div>
                                            }
                                        @if(organization.users.length >0) {
                                        <div class="table-responsive">
                                            <table class="table whitespace-nowrap table-bordered min-w-full">
                                                <thead>
                                                    <tr class="border-b border-defaultborder">
                                                        <th scope="col" class="text-start">User</th>
                                                        <th scope="col" class="text-start">Status</th>
                                                        <th scope="col" class="text-start">Email</th>
                                                        <th scope="col" class="text-start">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="border-b border-defaultborder">
                                                        <th scope="row">
                                                            <div class="flex items-center">
                                                                <span class="avatar avatar-xs me-2 online avatar-rounded">
                                                                    <img src="./assets/images/faces/13.jpg" alt="img">
                                                                </span>Sukuro Kim
                                                            </div>
                                                        </th>
                                                        <td><span class="badge bg-success/10 text-success">Active</span></td>
                                                        <td>kimosukuro&#64;gmail.com</td>
                                                        <td>
                                                            <div class="hstack gap-2 flex-wrap">
                                                                <a aria-label="anchor" href="javascript:void(0);" class="text-info text-[.875rem] leading-none"><i
                                                                        class="ri-edit-line"></i></a>
                                                                <a aria-label="anchor" href="javascript:void(0);" class="text-danger text-[.875rem] leading-none"><i
                                                                        class="ri-delete-bin-5-line"></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                      }
                                    </div>
                                
                                
                                
                            </div>
                            </div>
                        </div>
                   
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!--End::row-1 -->
</div>