<app-page-header [title]="'Organization details'" [activeTitle]="'Home'" [title1]="'Organizations'"></app-page-header>
<div class="container">
   <!-- Start::row-1 -->
   <div class="grid grid-cols-12 gap-6 mb-[3rem]">
      <div class="xl:col-span-12 col-span-12">
         <div class="box">
            <div class="row" style="margin-left: 20px; margin-top:20px">
               <p>
                  <strong> {{organization.infos.name}}</strong> - <span class="badge bg-outline-primary">{{organization.infos.realm}}</span> 
               </p>
            </div>
            <div class="box-header sm:flex block !justify-start">
               <nav aria-label="Tabs" class="md:flex block !justify-start whitespace-nowrap">
                  <a class="m-1 block w-full hs-tab-active:bg-primary/10 hs-tab-active:text-primary cursor-pointer text-defaulttextcolor dark:text-defaulttextcolor/70 py-2 px-3 flex-grow  text-[0.75rem] font-medium rounded-md hover:text-primary active" id="Personal-item" data-hs-tab="#organization-licence" aria-controls="#organization-licence">
                  Licences
                  </a>
                  <a class="m-1 block w-full hs-tab-active:bg-primary/10 hs-tab-active:text-primary cursor-pointer text-defaulttextcolor dark:text-defaulttextcolor/70 py-2 px-3 text-[0.75rem] flex-grow font-medium rounded-md hover:text-primary " id="account-item" data-hs-tab="#organization-users" aria-controls="organization-users">
                  Utilisateurs
                  </a>
                  <a class="m-1 block w-full hs-tab-active:bg-primary/10 hs-tab-active:text-primary cursor-pointer text-defaulttextcolor dark:text-defaulttextcolor/70 py-2 px-3 text-[0.75rem] flex-grow font-medium rounded-md hover:text-primary " id="account-tokens" data-hs-tab="#organization-tokens" aria-controls="organization-tokens">
                    Tokens
                    </a>
               </nav>
            </div>
            <div class="box-body">
               <div class="tab-content">
                  <div class="tab-pane show active dark:border-white/10" id="organization-licence" aria-labelledby="licence-item" >
                     <div class="grid grid-cols-12 gap-6">
                        <div class="xl:col-span-12 col-span-12">
                           <div class="box custom-box">
                              <div class="box-header justify-between">
                                 <div class="box-title">
                                    Organization's licence
                                 </div>
                                 <div class="prism-toggle">
                                    <button [routerLink]="['../../licences/add',organizationId ]" type="button" class="ti-btn !py-1 !px-2 ti-btn-primary !font-medium !text-[0.75rem]">Add licence
                                    <i class=" ms-2 inline-block align-middle"></i></button>
                                 </div>
                              </div>
                              <div class="box-body">
                                 @if(organization.licences.length <=0) {
                                 <div class="empty-list-container"  >
                                    <img src="assets/images/diploma.png" alt="Empty List Image" class="empty-list-image" width="100px">
                                    <p class="empty-list-message">Liste des licences est vide</p>
                                 </div>
                                 }
                                 @if(organization.licences.length >0) {
                                 <div class="table-responsive" >
                                    <table class="table whitespace-nowrap min-w-full">
                                       <thead>
                                          <tr class="border-b border-defaultborder">
                                             <th scope="col" class="text-start">Key</th>
                                             <th scope="col" class="text-start">Applications</th>
                                             <th scope="col" class="text-start">Creation date</th>
                                             <th scope="col" class="text-start">Expiration date</th>
                                             <!-- <th scope="col" class="text-start">Status</th> -->
                                             <th scope="col" class="text-start">Actions</th>
                                          </tr>
                                       </thead>
                                       <tbody>
                                          <tr class="border-b border-defaultborder" *ngFor="let l of organization.licences">
                                             <th scope="row" class="text-start">{{l.key}}</th>
                                             <td>{{l.authorizedApplicationIds | json }}</td>
                                             <td>{{l.creationDate}}</td>
                                             <td>{{l.expirationDate}}</td>
                                             <!-- <td><span class="badge bg-outline-primary">Valid</span></td> -->
                                             <td>
                                                <span class="badge bg-outline-info" (click)="renewLicence(l.id)" style="margin-right: 5px;">Renew</span>
                                                <span class="badge bg-outline-danger" (click)="deleteLicence(l.id)">Delete</span>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </div>
                                 }
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="tab-pane dark:border-defaultborder/10 hidden" id="organization-users" aria-labelledby="users-item" role="tabpanel">
                     <div class="xl:col-span-12 col-span-12">
                        <div class="box custom-box">
                           <div class="box-header justify-between">
                              <div class="box-title">
                                 Organization's users
                              </div>
                           </div>
                           <div class="box-body">
                              @if(organization.users.length <=0) {
                              <div class="empty-list-container"  >
                                 <img src="assets/images/group.png" alt="Empty List Image" class="empty-list-image" width="100px">
                                 <p class="empty-list-message">The user list for this organization is empty</p>
                              </div>
                              }
                              @if(organization.users.length >0) {
                              <div class="table-responsive">
                                 <div class="xxl:col-span-12 xl:col-span-12 col-span-12">
                                    <div class="box custom-card">
                                       <div class="box-header justify-between">
                                          <div class="box-title">
                                             Total users 
                                          </div>
                                          <div class="flex flex-wrap gap-2">
                                             <div>
                                                <input class="ti-form-control form-control-sm" type="text" placeholder="Rechercher"
                                                   aria-label=".form-control-sm example">
                                             </div>
                                             <div class="hs-dropdown ti-dropdown">
                                                <a href="javascript:void(0);"
                                                   class="ti-btn ti-btn-primary !bg-primary !text-white !py-1 !px-2 !text-[0.75rem] !m-0 !gap-0 !font-medium"
                                                   aria-expanded="false">
                                                Filter<i class="ri-arrow-down-s-line align-middle ms-1 inline-block"></i>
                                                </a>
                                                <ul class="hs-dropdown-menu ti-dropdown-menu hidden" role="menu">
                                                </ul>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="box-body">
                                          <div class="overflow-x-auto">
                                             <table class="table min-w-full whitespace-nowrap table-hover border table-bordered">
                                                <thead>
                                                   <tr class="border border-inherit border-solid dark:border-defaultborder/10">
                                                      <th scope="col" class="!text-start !text-[0.85rem] min-w-[200px]">Complete Name</th>
                                                      <th scope="col" class="!text-start !text-[0.85rem]">Keycloak ID</th>
                                                      <th scope="col" class="!text-start !text-[0.85rem]">Email/Phone</th>
                                                      <th scope="col" class="!text-start !text-[0.85rem]">Organization ID</th>
                                                      <th scope="col" class="!text-start !text-[0.85rem]">Status</th>
                                                      <th scope="col" class="!text-start !text-[0.85rem]">Action</th>
                                                   </tr>
                                                </thead>
                                                <tbody>
                                                   <tr *ngFor="let u of organization.users; let i=index" class="border border-inherit border-solid hover:bg-gray-100 dark:border-defaultborder/10 dark:hover:bg-light">
                                                      <td>
                                                         <div class="flex items-center font-semibold">
                                                            <span class="!me-2 inline-flex justify-center items-center">
                                                            <img src="./assets/images/faces/4.jpg" alt="img"
                                                               class="w-[1.75rem] h-[1.75rem] leading-[1.75rem] text-[0.65rem]  rounded-full">
                                                            </span>{{u.firstName}} {{u.lastName}}
                                                         </div>
                                                      </td>
                                                      <td>{{u.keycloakId}}</td>
                                                      <td>{{u.email}}
                                                         <br> 
                                                         <span
                                                            class="inline-flex text-info !py-[0.15rem] !px-[0.45rem] rounded-sm !font-semibold !text-[0.75em] bg-info/10">{{u.phone}}</span>
                                                      </td>
                                                      <td>
                                                         {{u.organizationId}}
                                                      </td>
                                                      <td>
                                                         <span
                                                            class="inline-flex text-info !py-[0.15rem] !px-[0.45rem] rounded-sm !font-semibold !text-[0.75em] bg-info/10">{{u.enabled}}</span>
                                                      </td>
                                                      <td>
                                                         <button (click)="deleteAccount(u.keycloakId)" class="ti-btn ti-btn-danger !mb-0" type="submit">Delete</button>
                                                         <br>
                                                         <button (click)="enableOrDisableAccount(u.keycloakId, 'disable')" *ngIf="u.enabled" class="ti-btn ti-btn-primary !mb-0" type="submit"  style="margin-top: 10px;">Disable</button>
                                                         <button (click)="enableOrDisableAccount(u.keycloakId, 'enable')" *ngIf="!u.enabled" class="ti-btn ti-btn-primary !mb-0" type="submit"  style="margin-top: 10px;">Enable</button>
                                                      </td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              }
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="tab-pane dark:border-defaultborder/10 hidden" id="organization-tokens" aria-labelledby="organization-tokens" role="tabpanel">
                    <div class="xl:col-span-12 col-span-12">
                       <div class="box custom-box">
                          <div class="box-header justify-between">
                            <button (click)="generateToken()"><i class="fa fa-cog" aria-hidden="true"></i>
                               Generate Token</button>
                          </div>
                          <div class="box-body">
                             
                            <div *ngIf="isLoading" style="margin-top: 20px;">
                              <div class="spinner"></div>
                            </div>
                            <div style="text-align: center;">
                              <div *ngIf="token" style="margin-top: 20px;">
                                <input type="text" [value]="token" readonly style="width: 80%; padding: 5px;" />
                                <button (click)="copyToClipboard()" style=" cursor: pointer;">
                                  <i class="fa fa-copy"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                       </div>
                    </div>
                 </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!--End::row-1 -->
</div>
